<form action="/tasks" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <h2>Enter a New Task</h2><br />

  <% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%= msg %></div>
  <% end %>
  <% end %>

  <p>Task title:</p>
  <input type="text" name='task[title]' class="form-control" /><br />

  <p>Task description:</p>
  <textarea name='task[description]' class="form-control"></textarea><br />

  <input type='submit' class="btn btn-primary" />
</form>
